<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Divertours</name>
    <description>Sample Apache Cordova App</description>
    <author email="arcemike117@gmail.com" href="https://github.com">
        Miguel Arce
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <!-- MDPI -->
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <!-- HDPI -->
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <!-- XHDPI -->
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <!-- XXHDPI -->
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <!-- XXXHDPI -->
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
</widget>
